{% liquid
  assign selected_variant = product.selected_or_first_available_variant
  assign hundred_product = all_products['100-premium-blades']
  assign lifetime_product = all_products['blades-for-life']
%}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% if product.variants.size > 1 %}
  <div x-data>
    <div class="flex gap-2 flex-wrap">
      {% for variant in product.variants %}
        <button
          @click="$store.pdpExtra.selectedVariant = '{{ variant.id }}'; $store.pdpExtra.variantPrice = '{{ variant.price | money }}'; $store.pdpExtra.variantCompareAtPrice = '{{ variant.compare_at_price | money }}'; $store.pdpExtra.variantTitle = '{{ variant.title }}'"
          class="p-0 border-2 border-solid bg-white rounded-full size-14 flex items-center justify-center cursor-pointer"
          :class="$store.pdpExtra.selectedVariant === '{{ variant.id }}' ? 'border-blue-700' : 'border-transparent'">
          <img
            class="rounded-full"
            src="{{ variant.image |  image_url: width: 100, height: 100 }}"
            alt="{{ variant.title }}"
            height="48"
            width="48">
        </button>
      {% endfor %}
    </div>
    <div class="mt-2">
      Color:
      <span x-html="$store.pdpExtra.variantTitle"></span>
    </div>
  </div>
{% endif %}

<div x-data class="flex items-center gap-2">
  <div class="text-xl text-black" x-html="$store.pdpExtra.variantPrice">{{ product.price | money }}</div>
  {% if product.price < product.compare_at_price %}
    <div class="text-gray-500 line-through" x-html="$store.pdpExtra.variantCompareAtPrice">
      {{ product.compare_at_price | money }}
    </div>
  {% endif %}
</div>

{% if product.tags contains 'blades' %}
  <div class="bg-blue-100 p-4 rounded-lg" x-data>
    <h3 class="text-lg font-semibold !mt-0 !mb-2">Blade Options:</h3>
    <div class="flex items-center justify-between mb-2">
      <div class="flex items-center gap-1">
        <input
          class="!size-5 m-0"
          id="5blades"
          type="checkbox"
          disabled
          checked>
        <label for="5blades">5 Blades</label>
      </div>
      <div>
        <span class="italic text-slate-600">Included Free</span>
      </div>
    </div>

    <div class="flex items-center justify-between mb-2">
      <div class="flex items-center gap-1">
        <input
          class="!size-5 m-0"
          id="100blades"
          type="checkbox"
          :checked="$store.pdpExtra.bladeOption === '{{ hundred_product.selected_or_first_available_variant.id }}'"
          @change="$store.pdpExtra.bladeOption = ($store.pdpExtra.bladeOption === '{{ hundred_product.selected_or_first_available_variant.id }}') ? '' : '{{ hundred_product.selected_or_first_available_variant.id }}'">
        <label for="100blades">{{ hundred_product.title }}</label>
      </div>
      <div>
        <span>+{{ hundred_product.price | money }}</span>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center gap-1">
        <input
          class="!size-5 m-0"
          id="lifeBlades"
          type="checkbox"
          :checked="$store.pdpExtra.bladeOption === '{{ lifetime_product.selected_or_first_available_variant.id }}'"
          @change="$store.pdpExtra.bladeOption = ($store.pdpExtra.bladeOption === '{{ lifetime_product.selected_or_first_available_variant.id }}') ? '' : '{{ lifetime_product.selected_or_first_available_variant.id }}'">
        <label for="lifeBlades">{{ lifetime_product.title }}</label>
      </div>
      <div>
        <span>+{{ lifetime_product.price | money }}</span>
      </div>
    </div>
  </div>
{% endif %}

{% assign accessories = product.metafields.custom.accessories.value %}
{% if accessories %}
  <div x-data class="p-4 pb-0">
    <h3 class="text-lg font-semibold !my-0">Accessories:</h3>
    <p class="text-base mt-0 !mb-3">Accessories 20% off until {{ 'now' | date: "%s" | plus: 259200 | date: "%b %d" }} - Automatically applies in the cart.</p>
    {% for item in accessories %}
      <div class="flex items-center justify-between mb-2">
        <div class="flex items-center gap-1">
          <input
            class="!size-5 m-0"
            id="{{ item.id }}"
            type="checkbox"
            :checked="$store.pdpExtra.accessories.includes('{{ item.selected_or_first_available_variant.id }}')"
            @change="$store.pdpExtra.addRemoveAccessories('{{ item.selected_or_first_available_variant.id }}')">
          <label for="{{ item.id }}">{{ item.title }}</label>
        </div>
        <div>
          <span>+{{ item.price | money }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<button
  x-data
  class="product-form__submit button button--full-width button--primary rounded-full leading-[50px] !mb-8"
  @click="$store.pdpExtra.addToCart()"
  :disabled="$store.pdpExtra.addingToCart">
  <span>
    {{ 'products.product.add_to_cart' | t }}
  </span>
  <div class="loading__spinner" :class="!$store.pdpExtra.addingToCart ? 'hidden' : ''">
    <svg
      aria-hidden="true"
      focusable="false"
      class="spinner"
      viewBox="0 0 66 66"
      xmlns="http://www.w3.org/2000/svg">
      <circle
        class="path"
        fill="none"
        stroke-width="6"
        cx="33"
        cy="33"
        r="30"></circle>
    </svg>
  </div>
</button>

<product-form
  class="product-form fixed -left-[999px] -top-[999px]"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
  data-section-id="{{ section.id }}">
  {%- form 'product'
    , product
    , id: ''
    , class: 'form'
    , novalidate: 'novalidate'
    , data-type: 'add-to-cart-form'
  -%}
    <input
      x-data
      type="hidden"
      name="id"
      id="product-variant-id"
      :value="$store.pdpExtra.selectedVariant"
      class="product-variant-id">
    <button
      type="submit"
      name="add"
      value="1"
      class="hidden_product_form_submit"
      aria-label="Add to cart">
      <span>Add to cart</span>
      {%- render 'loading-spinner' -%}
    </button>
  {%- endform -%}
</product-form>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('pdpExtra', {
            selectedVariant: "{{ selected_variant.id }}",
            variantPrice: "{{ selected_variant.price | money }}",
            variantCompareAtPrice: "{{ selected_variant.compare_at_price | money }}",
            variantTitle: "{{ selected_variant.title }}",
            bladeOption: "",
            accessories: [],
            addingToCart: false,
            addRemoveAccessories (id) {
                if (this.accessories.includes(id)) {
                    this.accessories = this.accessories.filter((item) => item !== id);
                } else {
                    this.accessories.push(id);
                }
            },
            async addToCart () {
                this.addingToCart = true;
                const items = [];

                if(this.bladeOption){
                  items.push({
                    id: this.bladeOption,
                    quantity: 1
                  });
                }

                if (this.accessories.length > 0) {
                  this.accessories.forEach(item => {
                    items.push({
                      id: item,
                      quantity: 1
                    });
                  });
                }

                if (items.length > 0) {
                  try {
                    await fetch('/cart/add.js', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                      },
                      body: JSON.stringify({ items })
                    });

                  } catch (error) {
                    console.error('Error adding items to cart:', error);
                  } 
                }

                const hiddenSubmit = document.querySelector('.hidden_product_form_submit');
                hiddenSubmit.click();

                setTimeout(() => {
                  this.addingToCart = false;
                }, 2000);
            }
        })
    })
</script>