{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding bg-cover bg-center"
  style="background-color: {{ section.settings.background_color }}; background-image: url('{{ section.settings.background_image | image_url }}');">
  <div class="page-width">
    <div class="ml-auto max-w-[500px] md:px-10">
      <h1 class="text-3xl md:text-4xl font-black mt-0">{{ section.settings.title }}</h1>
      <p class="text-lg font-medium">{{ section.settings.subtitle }}</p>
      <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage Hero",
    "class": "homepage-hero",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Homepage Hero"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Homepage Hero"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "GET NORDIC GLIDE"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Homepage Hero"
      }
    ]
  }
{% endschema %}