{%- style -%}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
    background-image: url('{{ section.settings.bg_mobile_image | image_url }}');
    background-size: cover;
    background-position: center;

  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background_image: url('{{ section.settings.bg_image | image_url }}');
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }}">
  <div class="page-width">
    <div
    style="column-gap: {{ section.settings.columns_gap }}px; row-gap: {{ section.settings.rows_gap }}px;"
    class="[display:grid] grid-cols-1 md:grid-cols-2">
      <div>
        <img
            class="w-full rounded-lg h-auto {% if section.settings.rounded_image %} rounded-xl{% endif %}"
            src="{{ section.settings.image |  image_url }}"
            alt="{{ section.settings.alt }}"
            height="{{ section.settings.image.height }}"
            width="{{ section.settings.image.width }}"
            fetchpriority="{{  fetch_priority }}"
        >
      </div>
      <div class="{% if section.settings.image_placement == '1' %} md:-order-1 {% endif %}">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'heading' %}
                <style>
                    .block-{{ block.id }}-class {
                        font-size: {{ block.settings.mobile_font_size }}px;
                        font-weight: bold;
                    }
                    @media screen and (min-width: 750px) {
                        .block-{{ block.id }}-class {
                            font-size: {{ block.settings.font_size }}px;
                        }
                    }
                </style>
                <{{ block.settings.heading_type }} class="block-{{ block.id }}-class" {{ block.shopify_attributes }}>{{ block.settings.content }}</{{ block.settings.heading_type }}>
                {% when 'text' %}
                <div style="font-size: {{ block.settings.font_size }}px;" class="block-{{ block.id }}-class" {{ block.shopify_attributes }}>
                    <div class="{%  if block.settings.mobile_content %}[display:none] md:block{% endif %}">
                        {{ block.settings.content }}
                    </div>
                    {% if block.settings.mobile_content %}
                        <div class="md:hidden">
                            {{ block.settings.mobile_content }}
                        </div>
                    {% endif %}
                </div>
            {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image and Text",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "bg_mobile_image",
        "label": "Background Mobile Image"
      },
      {
        "type": "header",
        "content": "Contents"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Section Image",
      },
      {
      "type": "checkbox",
        "id": "rounded_image",
        "label": "Rounded Image",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "select",
        "options": [{ "value": "0", "label": "Image First"}, {"value": "1", "label": "Image Second"}],
        "id": "image_placement",
        "label": "Image Placement",
        "default": "0"
      },
      {
        "type": "range",
        "id": "columns_gap",
        "label": "Columns Gap",
        "default": 40,
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "rows_gap",
        "label": "Rows Gap (Mobile)",
        "default": 40,
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 400,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 72
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 400,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 72
      }, {
        "type": "header",
        "content": "Mobile Padding"
      }, {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 40
      }, {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 40
      }
    ],
    "blocks": [
        {
            "type": "heading", 
            "name": "Heading", 
            "settings": [
                {
                    "type": "text",
                    "id": "content",
                    "label": "Content",
                    "default": "This the Heading"
                },
                {
                    "type": "select",
                    "id": "heading_type",
                    "options": [
                        {
                            "label": "H1",
                            "value": "h1"
                        },
                        {
                            "label": "H2",
                            "value": "h2"
                        },
                        {
                            "label": "H3",
                            "value": "h3"
                        },
                        {
                            "label": "H4",
                            "value": "h4"
                        },
                        {
                            "label": "H5",
                            "value": "h5"
                        },
                        {
                            "label": "H6",
                            "value": "h6"
                        }
                    ],
                    "label": "Heading type",
                    "default": "h2"
                },
                {
                    "type": "range",
                    "id": "font_size",
                    "label": "Font Size",
                    "default": 40,
                    "min": 8,
                    "max": 120,
                    "step": 2,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "mobile_font_size",
                    "label": "Mobile Font Size",
                    "default": 24,
                    "min": 8,
                    "max": 60,
                    "step": 2,
                    "unit": "px"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text",
            "settings": [
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "richtext",
                    "id": "mobile_content",
                    "label": "Mobile Content"
                },
                {
                    "type": "range",
                    "id": "font_size",
                    "label": "Font Size",
                    "default": 18,
                    "min": 8,
                    "max": 60,
                    "step": 2,
                    "unit": "px"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Image and Text"
      }
    ]
  }
{% endschema %}