{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding bg-cover bg-center"
  style="background-color: {{ section.settings.background_color }}; background-image: url('{{ section.settings.background_image | image_url }}');">
  <div class="page-width">
    <h2 class="text-3xl md:text-4xl font-black mt-0 !mb-12 text-center text-white">{{ section.settings.title }}</h2>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-4">

      {% for product in section.settings.collection.products %}
        {% render 'card-product'
          , card_product: product
          , media_aspect_ratio: 'square'
          , image_shape: 'default'
          , show_secondary_image: true
          , show_vendor: false
          , show_rating: false
          , lazy_load: true
          , skip_styles: true
        %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Popular Products",
    "class": "popular-products",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Popular Products"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Popular Products"
      }
    ]
  }
{% endschema %}