{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding text-white bg-cover bg-left md:bg-center"
  style="background-color: {{ section.settings.background_color }}; background-image: url('{{ section.settings.background_image |  image_url }}');">
  <div class="page-width">
    <div class="md:w-1/2">
      <div class="mb-5">
        <div class="flex">
          <div class="poppins-regular-16 mb-3">
            {{ section.settings.title }}
          </div>
        </div>
      </div>

      {% for block in section.blocks %}
        <div class="mb-0 mt-4">
          <div class="flex gap-2">
            <div class="w-auto lg:w-1/12">
              <div class="poppins-regular-13 my-2">0{{ forloop.index }}</div>
            </div>

            <div class="flex-1 lg:w-5/12">
              <div class="text-3xl mb-3">{{ block.settings.heading }}</div>

              <div class="poppins-regular-16 mb-5">
                {{ block.settings.description }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Unparalleled Standard",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#333333"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Unparalleled Standards"
      },
      {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 72
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 72
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Item Heading"
          }, {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Unparalleled Standard"
      }
    ]
  }
{% endschema %}